*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
body{
    background-color: rgba(0, 0, 0, 0.877);
}
.pokemons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    border: 5px solid rgba(61, 60, 63, 0.301);
    width: 1024px;
    margin: 0 auto;
}
.pokemon{
    width: 20%;
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, 0.431);
    box-shadow: 10px;
}
.pokemon__order{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: crimson;
    border:3px solid red
}
.pokemon__img{
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 5px;
}
.pokemon__name{
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgba(136, 114, 114, 0.637);
    margin: 0px 23px;
    padding: 7px;
    border-radius: 20px;
}
.info{
    text-align: center;
    padding: 10px;  
    border-radius: 5px;
    font-size: 18px;
    font-style: italic;
    color: cornsilk;
    background-color: teal;
}
.wiknesses{
    color: teal;
    /* text-align: center; */
    padding-left: 30px;
}